<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <!--Change data source to your machine name!-->
      <!--  <add name="Brains" connectionString="Data Source=DESKTOP-15GE04V;Initial Catalog=Brains;Integrated Security=True"  providerName="System.Data.SqlClient"/> !-->
      <add name="Brains" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Brains;Integrated Security=True"  providerName="System.Data.SqlClient"/>
    
    </connectionStrings>
</configuration>